<h2 class="text-center">Edit <%= resource_name.to_s.humanize %></h2>
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>
<div class="row d-flex justify-content-between px-4">
  <div class="form-inputs col-md-3 card p-0">
    <div class="card-header">Security</div>
    <div class="card-body">
      <%= f.input :email, required: true, autofocus: false %>
      
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>
    
      <%= f.input :password, label:'New password',
                  hint: "leave it blank if you don't want to change it",
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation, label:'Confirm new password',
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
    </div>
  </div>  
  <div class="card col-md-8 p-0">
    <div class="card-header">Personal information</div>
    <div class="card-body">
      <div class="row">
        <%= f.simple_fields_for :userInfo do |info| %>
          <div class="col-md-6">
            <%= info.input :name %>
          </div>
          <div class="col-md-6">
            <%= info.input :surname, class:'col-md6' %>
          </div>
          <div class="col-md-6">
            <%= info.input :username %>
          </div>
          <div class="col-md-3">
            <%= info.input :phone, required: true %>
          </div>
          <div class="col-md-12">
            <%= info.input :address, required: true %>
          </div>
          <div class="col-md-5">
            <%= info.input :city, required: true %>
          </div>
          <div class="col-md-4">
          <%= info.input :state, required: true %>
          </div>
          <div class="col-md-3">
            <%= info.input :zipCode, required: true  %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="justify-content-between my-3 row">
  <div class="col-md-4">
    <%= f.input :current_password,
                required: true,
                input_html: { autocomplete: "current-password" } %>
  </div>
  <div class="form-actions col mt-4">
    <%= f.button :submit, "Update", class:'btn btn-primary' %>
  </div>
</div>
<% end %>

<div class="d-flex justify-content-between">
  <%= link_to "Back", :back, class:'btn btn-secondary' %>
  <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class:'btn btn-danger' %>
</div>