<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid container">
      <a class="navbar-brand" href=" <%= url_for(root_path) %> "><%= t('views.nav.title') %></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-auto">
        </ul>
        <% if user_signed_in? %>
          <a href="<%= request.path %>?locale=en">
            <span class="flag-icon flag-icon-us me-2 fs-4"></span>
          </a>
          <a href="<%= request.path %>?locale=pt-BR">
            <span class="flag-icon flag-icon-br fs-4"></span>
          </a>
          <div class="dropdown">
            <div class="btn dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              <%= image_tag("user_avatar.png", width: 50) %>
            </div>
            <ul class="dropdown-menu p-2" aria-labelledby="dropdownMenuButton1">
            <% if current_user.registration_completed?%>
              <li class="border-bottom"><%= t('views.nav.signed') %><br> <p class="fw-bold"><%= current_user.userInfo.username %></p></li>
            <% else %>
              <li class="border-bottom"><%= t('views.nav.signed') %><br> <p class="fw-bold"><%= current_user.email %></p></li>
            <% end %>
              <li><%= link_to "#{t('views.nav.edit_profile')}", edit_user_registration_path, class:'dropdown-item' %></li>
              <li><%= button_to "#{t('views.nav.log_out')}", destroy_user_session_path, method: :delete, class:'dropdown-item text-danger'%></li>
            </ul>
          </div>
          <% end %>
      </div>
    </div>
  </nav>
