<% if current_user.admin? %>
    <div class="d-flex justify-content-center m-5 row">
        <%= link_to 'Manage Active Orders', orders_path, class:"bg-primary text-light text-center m-1 p-5 fs-1 adm-button col-md-5 col-12" %>
        <%= link_to 'Products', products_path, class:"bg-primary text-light text-center m-1 p-5 fs-1 adm-button col-md-5 col-12" %>
        <%= link_to 'All Orders List', products_path, class:"bg-primary text-light text-center m-1 p-5 fs-1 adm-button col-md-5 col-12" %>
    </div>
<% else %>
    <div class="d-flex justify-content-center m-5 row">
        <%= link_to 'My Active Orders', orders_path, class:"bg-primary text-light text-center m-1 p-5 fs-1 adm-button col-md-5 col-12" %>
        <%= link_to 'Order History', products_path, class:"bg-primary text-light text-center m-1 p-5 fs-1 adm-button col-md-5 col-12" %>
    </div>
<% end %>