<p id="notice"><%= notice %></p>
<div class="d-flex justify-content-between">
   <h1 class="text-center"><%= t('views.order.index.title') %></h1>
   <div>
      <% unless current_user.admin? %>
      <%= link_to "#{t('views.order.index.new_order')}", new_order_path, class:'btn btn-primary' %>
      <% end %>
   </div>
</div>
<% order_count = 0 %>
<div class="row mt-2">
   <% @orders.each do |order| %>
   <% unless order.done %>
   <div class="col-md-3 m-md-0 my-2">
      <% order_count += 1 %>
      <div class="card orders-card mb-2">
         <div class="card-header d-flex justify-content-between">
            <h5 class="card-title"> <%=  "#{t('activerecord.attributes.order.order')}: #{order_count}" %></h5>
            <div>
               <% if order.done %>
               <span class="badge bg-primary"> <%= t('activerecord.attributes.order.status.finished') %>% </span>
               <% elsif order.ordered? %>
               <span class="badge bg-warning text-dark"> <%= t('activerecord.attributes.order.status.production') %> </span>
               <% else %>
               <span class="badge bg-danger text-dark"> <%= t('activerecord.attributes.order.status.unfinished') %> </span>
               <% end %>
            </div>
         </div>
         <span class="badge text-dark"> <%= time_ago_in_words(order.created_at) %></span>
         <div class="card-body overflow-auto p-0">
            <table class="table table-striped border m-0">
               <thead>
                  <tr>
                     <th colspan="2" class="text-center"><%= t('views.index.order.details') %></th>
                  </tr>
                  <tr>
                     <th scope="col"><%= t('activerecord.attributes.product.name') %></th>
                     <th scope="col"><%= t('activerecord.attributes.item.quantity') %></th>
                  </tr>
               </thead>
               <tbody>
                  <% for items in order.items %>
                  <tr>
                     <th scope="col"><%= items.product.name %></th>
                     <th scope="col"><%= items.quantity %></th>
                  </tr>
                  <% end %>
               </tbody>
            </table>
         </div>
         <div class="card-footer d-flex justify-content-between">
            <%= link_to "#{t('activerecord.buttons.show')}", order, class:'btn btn-primary' %>
            <% if current_user.admin? %>
            <%= link_to "#{t('activerecord.buttons.edit')}", edit_order_path(order), class:'btn btn-primary' %>
            <% end %>
         </div>
      </div>
   </div>
   <% end %>
   <% end %>
</div>
<%= link_to "#{t('activerecord.buttons.back')}", root_path, class:'btn btn-secondary mt-2' %>