<% order_count = 0 %>
<div class="row mt-2">
<% @orders.each do |order| %>
   <div class="col-md-3 m-md-0 my-2">
      <% order_count += 1 %>
      <div class="card orders-card mb-3">
         <div class="card-header d-flex justify-content-between">
            <h5 class="card-title">Order: <%= order_count %></h5>
            <span class="badge text-dark"> <%= order.created_at.strftime("%d/%m/%Y") %></span>
            <div>
               <% if order.done %>
                  <span class="badge bg-primary"> finished </span>
               <% elsif order.items.any? %>
                  <span class="badge bg-warning text-dark"> in production </span>
               <% else %>
                  <span class="badge bg-danger text-dark"> please add an item </span>
               <% end %>
            </div>
         </div>
         <div class="card-body overflow-auto p-0">
            <table class="table table-striped border m-0">
               <thead>
                  <tr>
                     <th colspan="2" class="text-center">Details</th>
                  </tr>
                  <tr>
                     <th scope="col">Product</th>
                     <th scope="col">Quantity</th>
                  </tr>
               </thead>
               <tbody>
                  <% for items in order.items %>
                     <tr>
                        <th scope="col"><%= items.product.name %></th>
                        <th scope="col"><%= items.quantity %></th>
                     </tr>
                  <% end %>
               </tbody>
            </table>
         </div>
         <div class="card-footer d-flex justify-content-between">
            <div class="input-group">
               <span class="input-group-text">$</span>
               <input type="text" placeholder="<%= order.set_total %>" id="total-order-price" class="rounded border border-primary text-dark text-center py-2 fw-bold w-25 " disabled readonly> 
            </div>
            <%= link_to 'Show', order, class:'btn btn-primary' %>
         </div>
      </div>
<%= link_to 'Back', root_path, class:'btn btn-secondary mt-2' %>
   </div>
<% end %>